@import "../variables";

.activated {
  padding-top: 100px;
  display: flex;
  justify-content: center;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button {
    margin-top: 20px;
  }

  &__authorize {
    margin-top: 20px;
  }

  &__text {
    color: $dark-gray;
    margin-top: 15px;
    text-align: center;
  }

  &__icon {
    width: 70px;
  }

  @media (max-width: 767px) {
    &__text {
      font-size: 24px;
    }
  }

  @media (max-width: 499px) {
    padding-top: 140px;

    &__icon {
      width: 50px;
    }

    &__text {
      font-size: 20px;
    }
  }
}