@import '../libs/breakpoints';

.admin-categories {
    width: 100%;
    margin: 10px 40px;

    @media (max-width: 1366px) {
        width: initial !important;
    }

    &__search {
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        margin-top: 8px;
        height: 35px;
        padding: 0 5px;
    }

    &__paginate {
        display: flex;
        justify-content: flex-end;
    }

    @include media('<phone') {
        flex-direction: column;
        margin: 0;
    }

    &__upper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<tablet') {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__button {
        padding: 0;
    }
}
