@import '../libs/breakpoints';

.admin-orders {
    margin: 10px 40px;
    width: 100%;

    @include media('<desktop') {
        flex-direction: column;
        margin: 0;
    }

    &__no-orders {
        display: flex;
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

    &__upper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('<tablet') {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__button {
        padding: 0;
    }
}
