@import "../variables";

.production {
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    padding: 26px 0 40px 37px;
    text-transform: capitalize;
    width: 50%;
    display: flex;

    &-1 {
      color: $white;
      justify-content: flex-end;
      background:linear-gradient(0deg, rgba(240, 90, 34, 0.82), rgba(240, 90, 34, 0.82)), url("../../assets/left-card-bg.png");

    }

    &-2 {
      background:linear-gradient(0deg, rgba(191, 190, 186, 0.64), rgba(191, 190, 186, 0.64)), url("../../assets/right-card-bg.png");
      color: $black;
      justify-content: flex-start;
    }
  }

  &__info {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
  }

  &__description {
    margin-top: 14px;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
  }

  &__btn {
    background: transparent;
    margin-top: 20px;
    width: 220px;
    padding: 19px 31px 22px 29px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;

    &-1 {
      border: 2px solid $white;
      color: $white;
    }

    &-2 {
      border: 2px solid $black;
      color: $black;
    }
  }
}