@import "../variables";
@import "../libs/breakpoints";

.production {
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    padding: 26px 0 40px 37px;
    text-transform: capitalize;
    width: 50%;
    display: flex;

    &-1 {
      color: $white;
      justify-content: flex-end;
      background:linear-gradient(0deg, rgba(240, 90, 34, 0.82), rgba(240, 90, 34, 0.82)), url("../../assets/left-card-bg.png");
      background-size: cover;
    }

    &-2 {
      background:linear-gradient(0deg, rgba(191, 190, 186, 0.64), rgba(191, 190, 186, 0.64)), url("../../assets/right-card-bg.png");
      background-size: cover;
      color: $black;
      justify-content: flex-start;
    }
  }

  &__info {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 29px;
  }

  &__description {
    margin-top: 14px;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
  }

  @include media("<=desktop") {
    &__block {
      display: flex;
      flex-direction: column;
    }

    &__card {
      width: 100%;
      padding: 26px 0 40px 20px;
      align-items: center;

      &-1 {
        justify-content: space-between;
      }

      &-2 {
        justify-content: space-between;
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 29px;
    }

    &__description {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  @include media("<=tablet") {
    &__block {
      display: flex;
      flex-direction: column;
    }

    &__card {
      width: 100%;
      padding: 26px 0 40px 20px;
      align-items: center;

      &-1 {
        justify-content: space-between;
      }

      &-2 {
        justify-content: space-between;
      }
    }


    &__image {
      &-1 {
        width: 160px;
        height: 100px;
      }

      &-2 {
        width: 105px;
        height: auto;
      }
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 29px;
    }

    &__description {
      margin-top: 14px;
      font-size: 10px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  @include media ("<=phone") {
    &__image {
      &-1 {
        width: 190px;
        height: 90px;
      }
    }
  }

  @media (max-width: 400px) {
    &__info {
      margin-right: 5px;
    }

    &__image {
      &-1 {
        width: auto;
        height: 60px;
      }
    }
  }
}