@import "../variables";

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  color: #383838;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  &__header {
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $color-text;
  }

  &__logo svg {
    width: 30px;
    height: 30px;
  }

  &__title {
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.02em;
    margin-left: 15px;
    text-transform: uppercase;
  }

  &__body {
    max-width: 300px;
    margin: 0 auto;
    padding: 25px 0;
  }

  &__input {
    margin-top: 8px;
    height: 35px;
    padding: 0 5px;
    border: 1px solid $color-text;

    &-block {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid $color-text;
  }

  &__btn {
    color: $white;
    padding: 15px 25px;
    background: #D85524;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.02em;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 600px) {
  .modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}