@import "../variables";
@import "../libs/breakpoints";

.not-found {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background:radial-gradient(circle at 65% 48%, rgba(218, 218, 218, 1) 2%, rgba(45, 44, 44, 1) 23%, rgba(45, 44, 44, 1) 100%);
  color: #fff;

  &__info {
    width: 25%;
    margin-right: 50px;

    @include media ("<=tablet") {
      width: 65%;
    }
  }

  &__404 {
    color: $orange;
    font-size: 156px;
    font-weight: 700;

    @include media ("<desktop") {
      font-size: 140px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
  }

  &__text {
    margin-bottom: 40px;
  }

  img {
    margin-top: 20px;

    @include media ("<desktop") {
      width: 300px;
    }
  }

  @include media ("<desktop") {
    flex-direction: column;
    background: #2a2a2a;
    align-items: center;
    justify-content: center;
  }
}