.notActivatedWarning {
  padding: 10px 0;
  background: #ffb77f;

  &__text {
    text-align: center;
    color: #ab0000;
    font-weight: 500;
  }

  &__again {
    margin-left: 10px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #ab0000;
      bottom: -2px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}