@import '../variables';
@import '../libs/breakpoints';

.paginate {
    margin-top: 20px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__button {
        background: $orange;
        padding: 8px 15px;
        border-radius: 3px;
        color: #ffffff;
        font-weight: 700;
        cursor: pointer;
        margin: 0 5px;
    }

    &__disabled {
        cursor: not-allowed;
        background: #d9d9d9;
        color: #7e7e7e;
    }

    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        color: black;
        background: #c7c7c7;
        font-weight: 700;
        font-size: 16px;
        border-radius: 50%;
        border: none;
        margin: 0 2px;
        cursor: pointer;

        @include media ('<=tablet') {
            width: 30px;
            height: 30px;
            font-size: 14px;
        }

        @include media ('<=phone') {
            width: 25px;
            height: 25px;
            font-size: 13px;
        }

        &--active {
            background: $orange;
            color: white;
        }
    }
}
