@import '../variables';
@import "../libs/breakpoints";


.catalog {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 2em;

  @include media ("<=desktop") {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  @include media ("<=phone") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-card {
  padding: 5px 20px;
  background: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #383838;

  @include media ("<=tablet") {
    padding: 5px 10px;
  }

  &__star {
    margin: 0 8px;

    @include media ("<=tablet") {
      margin: 0 3px;
    }
  }

  &__hits {
    height: 50px;
  }

  &__image {
    margin: 15px 0;
    text-align: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    width: 70%;

    @include media ("<=tablet") {
      font-size: 16px;
    }
  }

  &__price {
    margin: 10px 0;
    text-align: right;
    font-weight: 500;
    font-size: 23px;
  }

  &__in-stock {
    display: inline-block;
    margin: 10px 0;
  }

  &__cart-block {
    display: flex;
  }

  &__cart {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 15px 0;

    &--single {
      display: flex;
      margin: 25px 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $orange;
    font-size: 28px;

    &--single {
      margin: 0 50px;
    }

    @include media ("<=tablet") {
      font-size: 20px;
    }
  }

  &__add {
    display: flex;
    background: $orange;
    color: #fff;
    text-transform: uppercase;
    border: none;
    align-items: center;
    font-size: 15px;
    padding: 13px 40px;
    cursor: pointer;

    @include media ("<=tablet") {
      font-size: 12px;
      padding: 6px 10px;
    }

    @include media ("<=phone") {
      font-size: 15px;
      padding: 13px 30px;
    }
  }

  &__button {
      background: transparent;
      border: none;
      margin: 0 5px;
      cursor: pointer;

    @include media ("<=tablet") {
      margin: 0 10px;
    }
  }
}