@import '../variables';
@import '../libs/breakpoints';

.product-form {
    margin-left: 50px;

    @include media('<=desktop') {
        margin-left: 0;
    }

    &__title {
        margin: 20px 0;
    }

    form {
        label {
            width: 170px;
        }
    }

    &__double {
        display: flex;

        @include media('<=tablet') {
            flex-direction: column;
            gap: 10px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        margin: 15px 0;

        @include media('<=desktop') {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        input {
            background: none;
            border: 1px solid #9a9a9a;
            border-radius: 5px;
            padding: 8px 10px;
        }

        textarea {
            background: none;
            border: 1px solid #9a9a9a;
            padding: 15px 10px;
            border-radius: 5px;
            resize: none;

            @media (max-width: 1367px) {
                min-width: 400px;
            }
        }
    }

    &__double-row {
        display: flex;
        align-items: center;
        margin-right: 20px;

        input {
            background: none;
            border: 1px solid #9a9a9a;
            border-radius: 5px;
            padding: 8px 10px;
        }
    }

    &__check {
        display: flex;
        align-items: center;
        margin: 15px 0;

        label {
            width: 170px;
        }
    }

    &__select {
        width: 600px;

        div {
            background: transparent !important;
            border: 1px solid #969696 !important;
        }

        @include media('<=desktop') {
            width: 80%;
        }

        @media (max-width: 1367px) {
            max-width: 400px;
        }
    }

    &__input-xs {
        width: 70px;
    }

    &__input-sm {
        width: 160px;
    }
}
