@import '../libs/breakpoints';

.single-product {
  padding: 30px 0;
}

.product {
  display: flex;
  color: #383838;

  @include media ("<=tablet") {
    flex-direction: column;
  }

  &__image {
    width: 90%;

    img {
      box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.25);
    }

    @include media ("<=tablet") {
      width: 100%;
    }
  }

  &__main-image {
    width: 70%;

    @include media ("<=tablet") {
      width: 100%;
    }
  }

  &__other-images {
    display: flex;

    img {
      margin: 20px;
      width: 25%;

      @include media ("<=desktop") {
        flex-direction: column;
      }
    }
  }

  &__info {
    width: 100%;
  }

  &__title {
    margin: 25px 0;
  }

  &__upper-block {
    display: flex;
    margin: 20px 0;

    @include media ("<=desktop") {
     flex-direction: column;
    }
  }

  &__price {
    font-size: 20px;
  }

  &__feedback {
    text-align: center;

    @include media ("<=desktop") {
      text-align: left;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    margin: 20px 0;
  }

  &__subinfo {
    margin: 20px 0;

    p {
      margin: 10px 0;
    }
  }

  &__delivery {
    display: flex;
    align-items: center;
    margin: 30px 0;

    img {
      margin-right: 10px;
    }
  }

  &__recent {
    text-align: center;
    color: #383838;
    font-size: 30px;
    margin: 10px;
  }
}

.rating {
  margin: 0 40px;

  @include media ("<=desktop") {
    margin: 20px 0;
  }
}