@import '../variables';

.product-form {
    margin-left: 50px;

    &__title {
        margin: 20px 0;
    }

    form {
        label {
            width: 170px;
        }
    }

    &__double {
        display: flex;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 8fr;
        align-items: center;
        margin: 15px 0;

        input {
            background: none;
            border: 1px solid $dark-gray;
            padding: 8px 10px;
        }

        textarea {
            background: none;
            border: 1px solid $dark-gray;
            padding: 15px 10px;
            resize: none;
        }
    }

    &__double-row {
        display: flex;
        align-items: center;
        margin-right: 20px;

        input {
            background: none;
            border: 1px solid $dark-gray;
            padding: 8px 10px;
        }
    }

    &__check {
        display: flex;
        align-items: center;
        margin: 15px 0;

        label {
            width: 170px;
        }
    }

    &__select {
        width: 600px;

        div {
            background: transparent !important;
            border: 1px solid #969696 !important;
        }
    }

    &__input-xs {
        width: 70px;
    }

    &__input-sm {
        width: 160px;
    }
}
