@import '../libs/breakpoints';

.table {
  overflow: auto;
  margin-top: 15px;

  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: space-around;

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }

    img {
      cursor: pointer;
    }
  }

  &__subFields {
    font-size: 12px;
    border-bottom: 1px solid black;
    padding: 5px 0;

    &:last-child {
      border-bottom: none;
    }

    span {
      font-size: 15px;
    }
  }
}