@import '../libs/breakpoints';

.table {
  overflow: auto;
  margin-top: 15px;

  &__orders {
    text-align: center;
  }

  table {
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 0;
  }

  td {
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: space-around;

    @include media('<desktop') {
      flex-direction: column;
      align-items: center;
    }

    img {
      cursor: pointer;
    }
  }

  &__subFields {
    font-size: 12px;
    border-bottom: 1px solid black;
    padding: 5px 0;

    &:last-child {
      border-bottom: none;
    }

    span {
      font-size: 15px;
      color: #dc0893;
    }
  }

  &__sm {
    max-width: 220px;
    word-break: break-word;
  }

  &__xs {
    width: 20px;
    word-break: break-all;
  }

  &__s {
    width: 180px;
    font-size: 15px;
    word-break: break-all;
  }

  &__date {
    font-size: 14px;
  }

  &__green {
    background: #bceac5;
  }

  &__red {
    background: #e3bebe;
  }
}