@import './components/all.scss';
@import './libs/normalize.scss';
@import "./variables";
@import './components/all';

* {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

.background-wrapper {
  background: url("../assets/main-page-bg.png");
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
